<footer class="footer-section">
    <div class="overlay">
        <div class="container">
            <div class="row gy-5 gy-lg-0">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box">
                        <a class="navbar-brand" href="https://script.bugfinder.net/BullMarkets/screaminlizard"> <img
                                src="assets/uploads/logo/logo.png" alt="" /></a>
                        <p class="company-bio">
                            We are a full service like readable english. Many desktop publishing packages and web
                            page editor now use lorem Ipsum sites still in their. </p>

                        <div class="social-links">
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://bd.linkedin.com/" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div> 
                </div>


                <div class="col-md-6 col-lg-3">
                    <div class="footer-box">
                        <h4>get in touch</h4>
                        <ul>
                            <li>
                                <span>email@website.com</span>
                            </li>

                            <li>
                                <span>+44-20-4526-2356</span>
                            </li>

                            <li>
                                <span>22 Baker Street, London</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ps-lg-5">
                    <div class="footer-box">
                        <h4>Useful Links</h4>
                        <ul>
                            <li>
                                <a href="https://script.bugfinder.net/BullMarkets/screaminlizard">Home</a>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-box">
                        <h4>Subscribe to Newslatter</h4>
                        <form action="https://script.bugfinder.net/BullMarkets/screaminlizard/subscribe"
                            method="post">
                            <input type="hidden" name="_token" value="w48v1X9cYAjk6tWWC4Xa1miQgBSFObPmZQX7vkNE">
                            <div class="input-box">
                                <input type="email" name="email" class="form-control" placeholder="Email Address"
                                    autocomplete="off" />
                                <button type="submit" class="btn-action-icon"><i
                                        class="fas fa-paper-plane"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row copyright">
                <div class="col-md-6">
                    <span>Copyright &copy; 2023 BullMarkets All Rights Reserved</span>
                </div>


                <div class="col-md-6 language text-md-end">
                    <a href="index.html"><span class="flag-icon flag-icon-us"></span> English </a>
                    <a href="index.html"><span class="flag-icon flag-icon-in"></span> Hindi </a>
                    <a href="index.html"><span class="flag-icon flag-icon-es"></span> Spanish </a>
                </div>
            </div>
        </div>
    </div>
</footer>