<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="BullMarkets,  An Investmet Platform">
    <meta name="keywords"
        content="investment, BullMarkets, BullMarkets investment, BullMarkets website, invest, investment, Investment Management system, finance, growth">
    <link rel="shortcut icon" href="assets/uploads/logo/favicon.png" type="image/x-icon">

    <link rel="apple-touch-icon" href="assets/uploads/logo/Pasted image.png">
    <title>BullMarkets </title>
    <link rel="icon" type="image/png" sizes="16x16" href="assets/uploads/logo/Pasted image.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="BullMarkets | Home">

    <meta itemprop="name" content="BullMarkets | Home">
    <meta itemprop="description" content="BullMarkets,  A Modern Investmet Platform">
    <meta itemprop="image" content="assets/uploads/logo/meta.html">

    <meta property="og:type" content="website">
    <meta property="og:title" content="BullMarkets,  A Modern Investmet Platform">
    <meta property="og:description" content="BullMarkets,  A Modern  Investmet Platform">
    <meta property="og:image" content="assets/uploads/logo/Pasted image.png" />
    <meta property="og:image:type" content="image/png" />


    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" type="text/css" href="assets/themes/screaminlizard/css/bootstrap.min.css" />

    <!-- owl carousel -->
    <link rel="stylesheet" type="text/css" href="assets/themes/screaminlizard/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="assets/themes/screaminlizard/css/owl.theme.default.min.css">

    <!-- select 2 -->
    <link rel="stylesheet" type="text/css" href="assets/themes/screaminlizard/css/select2.min.css">

    <script src="assets/themes/screaminlizard/js/fontawesomepro.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/themes/screaminlizard/css/style.css">
    <script src="assets/themes/screaminlizard/js/modernizr.custom.js"></script>

    <style>
        .home-section::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background: var(--black);
            background-image: url(assets/uploads/content/62e7df341d6fe1659363124.jpg) !important;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: -1;
        }
    </style>
</head>


<meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" type="text/css" href="../assets/themes/screaminlizard/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/themes/screaminlizard/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/themes/screaminlizard/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/themes/screaminlizard/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/themes/screaminlizard/css/radialprogress.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/themes/screaminlizard/css/dashboard.css">
    <script src="../assets/themes/screaminlizard/js/modernizr.custom.js"></script>

</head>