<div class="bottom-nav fixed-bottom d-lg-none">
    <div class="link-item">
        <button onclick="toggleSideMenu()">
            <span class="icon"><i class="fa fa-ellipsis-v-alt"></i></span>
            <span class="text">Menus</span>
        </button>
    </div>
    <div class="link-item">
        <a href="/plan">
            <span class="icon"><i class="fa fa-layer-group" aria-hidden="true"></i></span>
            <span class="text">Plan</span>
        </a>
    </div> 
    <div class="link-item active">
        <a href="/user/dashboard">
            <span class="icon"><i class="fa fa-house"></i></span>
            <span class="text">Home</span>
        </a>
    </div>
    <div class="link-item ">
        <a href="/user/add-fund">
            <span class="icon"><i class="fa fa-funnel-dollar" aria-hidden="true"></i></span>
            <span class="text">Deposit</span>
        </a>
    </div>
    <div class="link-item ">
        <a href="/user/profile">
            <span class="icon"><i class="fa fa-user"></i></span>
            <span class="text">Profile</span>
        </a>
    </div>
</div>