<div id="sidebar" class="">
    
    <div class="sidebar-top">
        <a class="navbar-brand d-none d-lg-block" href=""> 
            <img src="../assets/uploads/logo/logo.png" alt="brand logo" /></a>
        <div class="mobile-user-area d-lg-none">
            <div class="thumb">
                <img class="img-fluid user-img" src="../assets/admin/images/default.png" alt="...">
            </div>
            <div class="content">
                <h5 class="mt-1 mb-1">Alex Hales</h5>
                <span class="">demouser</span>
            </div>
        </div>
        <button class="sidebar-toggler d-lg-none" onclick="toggleSideMenu()">
            <i class="fa fa-times"></i>
        </button>
    </div>

            <div class="level-box">
            <div>
                <h4>Lavel 4</h4>
                <p class="mb-0">Hyip Victor</p>
            </div>
            <img src="../assets/uploads/rank/63b2b77635d571672656758.png" alt="level image" class="level-badge" />
        </div>
    
    <div class="wallet-wrapper m-4">
        <div class="wallet-box">
            <h4 class="mb-3">Account Balance</h4>
            <h5> Main Balance <span>$156.92</span></h5>
            <h5 class="mb-0"> Interest Balance <span> $4.30</span></h5>
            <span class="tag">USD</span>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <a class="btn btn-primary" href="/user/add-fund"><i class="fa fa-wallet" aria-hidden="true"></i> Deposit</a>
            <a class="btn btn-primary" href="/user/plan"><i class="fa fa-usd-circle" aria-hidden="true"></i> Invest</a>
        </div>
    </div>

    <ul class="main">
        <li>
            <a class="active" href="/user/dashboard">
                <i class="fa fa-border-all"></i> Dashboard</a>
        </li>
        <li>
            <a href="/plan" class="sidebar-link ">
                <i class="fa fa-layer-group"></i> Plan</a>
        </li>

        <li>
            <a href="/user/invest-history" class="sidebar-link ">
                <i class="fa fa-file-medical-alt"></i> invest history</a>
        </li>

        <li>
            <a href="/user/add-fund"
               class="sidebar-link ">
                <i class="far fa-funnel-dollar"></i> Add Fund</a>
        </li>
        <li>
            <a href="/user/fund-history"
               class="sidebar-link ">
                <i class="far fa-search-dollar"></i> Fund History</a>
        </li>
        <li>
            <a href="/user/money-transfer" class="sidebar-link ">
                <i class="far fa-money-check-alt"></i> transfer</a>
        </li>
        <li>
            <a href="/user/transaction"
               class="sidebar-link ">
                <i class="far fa-sack-dollar"></i> transaction</a>
        </li>
        <li>
            <a href="/user/payout"
               class="sidebar-link ">
                <i class="fa fa-hand-holding-usd"></i>payout</a>
        </li>
        <li>
            <a href="/user/payout-history"
               class="sidebar-link ">
                <i class="far fa-badge-dollar"></i> payout history</a>
        </li>
        <li>
            <a href="/user/referral" class="sidebar-link ">
                <i class="fa fa-retweet-alt"></i> my referral</a>
        </li>
        <li>
            <a href="/user/referral-bonus"
               class="sidebar-link ">
                <i class="fa fa-box-usd"></i> referral bonus </a>
        </li>
        <li>
            <a href="/user/badges" class="sidebar-link ">
                <i class="fa fa-badge"></i> Badges</a>
        </li>
        <li>
            <a href="/user/ticket"
               class="sidebar-link ">
                <i class="fa fa-user-headset"></i> support ticket</a>
        </li>
        <li>
            <a href="/user/profile" class="sidebar-link ">
                <i class="fa fa-user"></i> profile settings</a>
        </li>

        <li class="d-lg-none">
            <a href="/user/twostep-security">
                <i class="fa fa-lock"></i> 2FA Security</a>
        </li>

    </ul>
</div>