<!DOCTYPE html>

<html class="no-js" lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<!-- head tag starts here  -->

<%- include('partials/head') -%>

    <!-- head tag ends here -->

    <body>
        <!-- navbar -->

        <%- include('partials/header') %>

            <!-- PAGE-BANNER -->
            <style>
                .banner-section {
                    background: url(assets/uploads/logo/banner.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            </style>


            <!-- home section -->
            <section class="home-section">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-lg-7">
                            <div class="text-box">
                                <!-- <h5 class="text-white my-4">A Profitable platform for high-margin investment</h5> -->
                                <h1>BEST INVESTMENTS PLAN FOR <span class="text-stroke"> WORLDWIDE</span></h1>
                                <div class="d-flex align-items-center mt-5">
                                    <a class="btn-custom text-dark" href="https://bugfinder.net/" target="_blank">Learn
                                        More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="countings">
                                <div class="box">
                                    <h3>25609</h3>
                                    <h5>All Members</h5>
                                </div>
                                <div class="box">
                                    <h3>12.5M</h3>
                                    <h5>Average Investment</h5>
                                </div>
                                <div class="box">
                                    <h3>200</h3>
                                    <h5>Countries Supported</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- about section -->
            <section class="about-section">
                <div class="container">
                    <div class="row g-4 justify-content-between">
                        <div class="col-lg-6">
                            <div class="header-text mb-5">
                                <h5>ABOUT US</h5>
                                <h2 class="mb-4">Welcome to <span class="text-stroke">BullMarkets</span></h2>
                            </div>
                            <p>
                                PlansBullMarkets is an investment company, whose tea working on making money from the
                                volatility
                                of
                                cryptocurrencies and offer great returns to our clients. Icon Missing Secure investments
                                The
                                phrasal sequence of the Lorem Ipsum text is now so widespread that many the starting
                                sequence.
                                <br />
                            <p>Lorem, ipsum dolor sit amet consectetur elit. Laboriosam hic impedit. Lorem ipsum dolor
                                sit
                                amet
                                consectetur, adipisicing elit. Tenetur, id!</p>
                            <p><br /></p>
                            <p>Cupiditate laborum ut et minima laudantium doloribus quidem sit non.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Icon Missing Guaranteed The
                                phrasal
                                sequence of the Lorem Ipsum text is now so widespread that many the starting sequence
                                Icon
                                Missing Secure &amp; Reliable The phrasal sequence of the Lorem Ipsum text is now so
                                widespread
                                that many the starting sequence</p>
                            </p>

                            <a class="btn-custom mt-4 text-dark" href="about.html" target="_blank">Know more</a>
                        </div>
                        <div class="col-lg-6 ps-md-5">
                            <div class="img-box">
                                <img src="assets/uploads/content/63ac0ff74380e1672220663.png" alt="about image"
                                    class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- how it work -->
            <section class="how-it-work ">
                <div class="container">
                    <div class="row">
                        <div class="header-text text-center">
                            <h5>PROCESS</h5>
                            <h2>How It <span class="text-stroke">Work?</span></h2>
                        </div>
                    </div>
                    <div class="row g-4 g-lg-5">
                        <div class="col-lg-6">
                            <div class="img-box">
                                <img src="assets/uploads/content/6059d2c2654921616499394.jpg" alt=""
                                    class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="process-box">
                                <h4>Register &amp; Log in</h4>
                                <p>
                                <p>Creating an account is the first step. then you need to log in</p>
                                </p>
                            </div>
                            <div class="process-box">
                                <h4>Add Fund</h4>
                                <p>
                                <p>Next, pick a payment method and add funds to your account</p>
                                </p>
                            </div>
                            <div class="process-box">
                                <h4>Select a service</h4>
                                <p>
                                <p>Select the services you want and get ready to receive more publicity</p>
                                </p>
                            </div>
                            <div class="process-box">
                                <h4>Enjoy Super Results</h4>
                                <p>
                                <p>You can enjoy incredible results when your order is complete</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- plan start -->
            <section class="pricing-section">
                <div class="container">
                    <div class="row">
                        <div class="header-text text-center">
                            <h5>INVEST OFFER</h5>
                            <h2>Investment <span class="text-stroke">Plans</span>
                            </h2>
                            <p class="mx-auto">
                                Help agencies to define their new business objectives and then create professional
                                software.
                            </p>
                        </div>
                    </div>

                    <div class="row justify-content-center g-4 g-lg-5">
                        <div class="col-lg-4 col-md-6">
                            <div class="pricing-box">
                                <h4>Business Plan</h4>
                                <h2 class="text-primary">$69 - $999</h2>
                                <h6>6% Every Day</h6>

                                <ul>
                                    <li>Profit For Lifetime</li>
                                    <li>Capital will back : <span class="bg-success">Yes</span></li>
                                    <li>Lifetime Earning</li>

                                </ul>
                                <button class="btn-custom w-100 investNow" type="button" data-price="$69 - $999"
                                    data-resource="{&quot;id&quot;:1,&quot;name&quot;:&quot;Business Plan&quot;,&quot;badge&quot;:&quot;Popular&quot;,&quot;minimum_amount&quot;:&quot;69&quot;,&quot;maximum_amount&quot;:&quot;999&quot;,&quot;fixed_amount&quot;:&quot;0&quot;,&quot;profit&quot;:&quot;6.00&quot;,&quot;profit_type&quot;:1,&quot;schedule&quot;:24,&quot;status&quot;:1,&quot;is_capital_back&quot;:1,&quot;is_lifetime&quot;:1,&quot;repeatable&quot;:720,&quot;featured&quot;:1,&quot;created_at&quot;:&quot;2021-12-17T10:01:01.000000Z&quot;,&quot;updated_at&quot;:&quot;2021-12-17T10:01:01.000000Z&quot;,&quot;price&quot;:&quot;$69 - $999&quot;}">Invest
                                    now</button>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="pricing-box">
                                <h4>Baby Plan</h4>
                                <h2 class="text-primary">$99 - $888</h2>
                                <h6><sup class="font-18">$</sup>6 Every Day</h6>

                                <ul>
                                    <li>Profit For Every Day</li>
                                    <li>Capital will back : <span class="bg-success">Yes</span></li>
                                    <li>Total 0 USD +
                                        <span class="bg-success">Capital</span>
                                    </li>


                                </ul>
                                <button class="btn-custom w-100 investNow" type="button" data-price="$99 - $888"
                                    data-resource="{&quot;id&quot;:2,&quot;name&quot;:&quot;Baby Plan&quot;,&quot;badge&quot;:&quot;&quot;,&quot;minimum_amount&quot;:&quot;99&quot;,&quot;maximum_amount&quot;:&quot;888&quot;,&quot;fixed_amount&quot;:&quot;0&quot;,&quot;profit&quot;:&quot;6.00&quot;,&quot;profit_type&quot;:0,&quot;schedule&quot;:24,&quot;status&quot;:1,&quot;is_capital_back&quot;:1,&quot;is_lifetime&quot;:0,&quot;repeatable&quot;:0,&quot;featured&quot;:1,&quot;created_at&quot;:&quot;2021-12-17T10:01:01.000000Z&quot;,&quot;updated_at&quot;:&quot;2021-12-17T10:01:01.000000Z&quot;,&quot;price&quot;:&quot;$99 - $888&quot;}">Invest
                                    now</button>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="pricing-box">
                                <h4>Hatchling Plan</h4>
                                <h2 class="text-primary">$120</h2>
                                <h6>6% Every Day</h6>

                                <ul>
                                    <li>Profit For Lifetime</li>
                                    <li>Capital will back : <span class="bg-danger">No</span></li>
                                    <li>Lifetime Earning</li>

                                </ul>
                                <button class="btn-custom w-100 investNow" type="button" data-price="$120"
                                    data-resource="{&quot;id&quot;:3,&quot;name&quot;:&quot;Hatchling Plan&quot;,&quot;badge&quot;:&quot;&quot;,&quot;minimum_amount&quot;:&quot;79&quot;,&quot;maximum_amount&quot;:&quot;777&quot;,&quot;fixed_amount&quot;:&quot;120&quot;,&quot;profit&quot;:&quot;6.00&quot;,&quot;profit_type&quot;:1,&quot;schedule&quot;:24,&quot;status&quot;:1,&quot;is_capital_back&quot;:0,&quot;is_lifetime&quot;:1,&quot;repeatable&quot;:720,&quot;featured&quot;:1,&quot;created_at&quot;:&quot;2021-12-17T10:01:01.000000Z&quot;,&quot;updated_at&quot;:&quot;2021-12-17T10:01:01.000000Z&quot;,&quot;price&quot;:&quot;$120&quot;}">Invest
                                    now</button>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="pricing-box">
                                <h4>Secondary Pack</h4>
                                <h2 class="text-primary">$89 - $666</h2>
                                <h6><sup class="font-18">$</sup>3 Every Day</h6>

                                <ul>
                                    <li>Profit For Every Day</li>
                                    <li>Capital will back : <span class="bg-success">Yes</span></li>
                                    <li>Total 1080 USD +
                                        <span class="bg-success">Capital</span>
                                    </li>


                                </ul>
                                <button class="btn-custom w-100 investNow" type="button" data-price="$89 - $666"
                                    data-resource="{&quot;id&quot;:4,&quot;name&quot;:&quot;Secondary Pack&quot;,&quot;badge&quot;:&quot;Steller&quot;,&quot;minimum_amount&quot;:&quot;89&quot;,&quot;maximum_amount&quot;:&quot;666&quot;,&quot;fixed_amount&quot;:&quot;0&quot;,&quot;profit&quot;:&quot;3.00&quot;,&quot;profit_type&quot;:0,&quot;schedule&quot;:24,&quot;status&quot;:1,&quot;is_capital_back&quot;:1,&quot;is_lifetime&quot;:0,&quot;repeatable&quot;:360,&quot;featured&quot;:1,&quot;created_at&quot;:&quot;2021-12-17T10:01:01.000000Z&quot;,&quot;updated_at&quot;:&quot;2021-12-17T10:01:01.000000Z&quot;,&quot;price&quot;:&quot;$89 - $666&quot;}">Invest
                                    now</button>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="pricing-box">
                                <h4>Starter Pack</h4>
                                <h2 class="text-primary">$50 - $400</h2>
                                <h6>1% Every Day</h6>

                                <ul>
                                    <li>Profit For Lifetime</li>
                                    <li>Capital will back : <span class="bg-success">Yes</span></li>
                                    <li>Lifetime Earning</li>

                                </ul>
                                <button class="btn-custom w-100 investNow" type="button" data-price="$50 - $400"
                                    data-resource="{&quot;id&quot;:6,&quot;name&quot;:&quot;Starter Pack&quot;,&quot;badge&quot;:&quot;Popular&quot;,&quot;minimum_amount&quot;:&quot;50&quot;,&quot;maximum_amount&quot;:&quot;400&quot;,&quot;fixed_amount&quot;:&quot;0&quot;,&quot;profit&quot;:&quot;1.00&quot;,&quot;profit_type&quot;:1,&quot;schedule&quot;:24,&quot;status&quot;:1,&quot;is_capital_back&quot;:1,&quot;is_lifetime&quot;:1,&quot;repeatable&quot;:360,&quot;featured&quot;:1,&quot;created_at&quot;:&quot;2021-12-17T10:01:01.000000Z&quot;,&quot;updated_at&quot;:&quot;2021-12-17T10:01:01.000000Z&quot;,&quot;price&quot;:&quot;$50 - $400&quot;}">Invest
                                    now</button>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- plan end -->

            <!-- Modal -->
            <div class="modal fade addFundModal" id="investNowModal" tabindex="-1" data-bs-backdrop="static"
                role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="investModalLabel">Invest Now</h5>
                            <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close">
                                <i class="fal fa-times"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center">
                                <h4 class="title plan-name"></h4>
                                <p class="price-range"></p>
                                <p class="profit-details"></p>
                                <p class="profit-validity"></p>
                            </div>
                            <form class="login-form" id="invest-form"
                                action="https://script.bugfinder.net/BullMarkets/screaminlizard/user/purchase-plan"
                                method="post">
                                <input type="hidden" name="_token" value="w48v1X9cYAjk6tWWC4Xa1miQgBSFObPmZQX7vkNE">
                                <div class="row g-3 align-items-end">
                                    <div class="input-box col-12">
                                        <select class="form-select" name="balance_type"
                                            aria-label="Default select example">
                                            <option value="checkout">Checkout</option>
                                        </select>
                                    </div>
                                    <div class="input-box col-12">
                                        <div class="input-group">
                                            <input type="text" class="invest-amount form-control" name="amount"
                                                id="amount" value=""
                                                onkeyup="this.value = this.value.replace (/^\.|[^\d\.]/g, '')"
                                                autocomplete="off" placeholder="Enter amount">
                                            <button class="btn-custom input-group-text show-currency" type="button"
                                                id="button-addon2"></button>
                                        </div>
                                    </div>
                                    <input type="hidden" name="plan_id" class="plan-id">

                                    <div class="input-box modal-footer col-12">
                                        <button class="btn-custom w-100">Invest Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <!-- why choose us start -->
            <section class="feature-section">
                <div class="container">
                    <div class="row">
                        <div class="header-text text-center">
                            <h5>CHOOSE INVESTMENT</h5>
                            <h3>Why Choose <span class="text-stroke">Investment Plan</span>
                            </h3>
                            <p class="mx-auto">
                                Help agencies to define their new business objectives and then create professional
                                software.
                            </p>
                        </div>
                    </div>
                    <div class="row g-4 g-lg-5">
                        <div class="col-lg-6 col-md-6">
                            <div class="feature-box">
                                <div class="icon-box">
                                    <img src="assets/uploads/content/63ac1031952101672220721.png"
                                        alt="why-choose-us image" />
                                </div>
                                <div class="text-box">
                                    <h4>Expert Management</h4>
                                    <p>
                                        Replacing a maintains the amount of lines. When replacing a selection. help
                                        agencies
                                        to
                                        define their new business objectives and then create. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="feature-box">
                                <div class="icon-box">
                                    <img src="assets/uploads/content/63ac103b79dad1672220731.png"
                                        alt="why-choose-us image" />
                                </div>
                                <div class="text-box">
                                    <h4>Registered Company</h4>
                                    <p>
                                        Replacing a maintains the amount of lines. When replacing a selection. help
                                        agencies
                                        to
                                        define their new business objectives and then create. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="feature-box">
                                <div class="icon-box">
                                    <img src="assets/uploads/content/63ac1043c78011672220739.png"
                                        alt="why-choose-us image" />
                                </div>
                                <div class="text-box">
                                    <h4>Secure Investment</h4>
                                    <p>
                                        Replacing a maintains the amount of lines. When replacing a selection. help
                                        agencies
                                        to
                                        define their new business objectives and then create. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="feature-box">
                                <div class="icon-box">
                                    <img src="assets/uploads/content/63ac104f998a11672220751.png"
                                        alt="why-choose-us image" />
                                </div>
                                <div class="text-box">
                                    <h4>Verified Security</h4>
                                    <p>
                                        Replacing a maintains the amount of lines. When replacing a selection. help
                                        agencies
                                        to
                                        define their new business objectives and then create. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="feature-box">
                                <div class="icon-box">
                                    <img src="assets/uploads/content/63ac10576a5051672220759.png"
                                        alt="why-choose-us image" />
                                </div>
                                <div class="text-box">
                                    <h4>Instant Withdrawal</h4>
                                    <p>
                                        Replacing a maintains the amount of lines. When replacing a selection. help
                                        agencies
                                        to
                                        define their new business objectives and then create. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="feature-box">
                                <div class="icon-box">
                                    <img src="assets/uploads/content/63ac1060947cf1672220768.png"
                                        alt="why-choose-us image" />
                                </div>
                                <div class="text-box">
                                    <h4>Registered Company</h4>
                                    <p>
                                        Replacing a maintains the amount of lines. When replacing a selection. help
                                        agencies
                                        to
                                        define their new business objectives and then create. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- why choose us end -->
            <section class="top-investor">
                <div class="container">
                    <div class="row">
                        <div class="col-12">

                            <div class="header-text text-center">
                                <h5>INVESTOR</h5>
                                <h3>World Wide <span class="text-stroke">Top Investor</span>
                                </h3>
                                <p class="mx-auto">
                                    Help agencies to define their new business objectives and then create professional
                                    software.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="investor-wrapper investors owl-carousel">
                                <div class="investor-box">
                                    <div class="img-box">
                                        <img src="assets/admin/images/default.png" class="img-fluid"
                                            alt="Investor Image Missing" />
                                    </div>
                                    <div class="text-box">
                                        <h5>demouser</h5>
                                        <h6 class="title">Investor</h6>
                                        <h4>Invested: $299895.48</h4>
                                    </div>
                                </div>
                                <div class="investor-box">
                                    <div class="img-box">
                                        <img src="assets/admin/images/default.png" class="img-fluid"
                                            alt="Investor Image Missing" />
                                    </div>
                                    <div class="text-box">
                                        <h5>Dylan6087</h5>
                                        <h6 class="title">Investor</h6>
                                        <h4>Invested: $11988</h4>
                                    </div>
                                </div>
                                <div class="investor-box">
                                    <div class="img-box">
                                        <img src="assets/admin/images/default.png" class="img-fluid"
                                            alt="Investor Image Missing" />
                                    </div>
                                    <div class="text-box">
                                        <h5>demouser</h5>
                                        <h6 class="title">Investor</h6>
                                        <h4>Invested: $6929</h4>
                                    </div>
                                </div>
                                <div class="investor-box">
                                    <div class="img-box">
                                        <img src="assets/admin/images/default.png" class="img-fluid"
                                            alt="Investor Image Missing" />
                                    </div>
                                    <div class="text-box">
                                        <h5>Ellawilson</h5>
                                        <h6 class="title">Investor</h6>
                                        <h4>Invested: $6601</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- latest transactions -->
            <section class="latest-transaction">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header-text text-center">
                                <h5>NOT HIDDEN CHARGE</h5>
                                <h2>Last Deposits &amp; <span class="text-stroke">Withdrawals</span>
                                </h2>
                                <p class="mx-auto">
                                    Help agencies to define their new business objectives and then create professional
                                    software.
                                </p>
                                <div class="nav mt-5" id="nav-tab" role="tablist">
                                    <button class="btn-custom active" id="last-deposit-tab" data-bs-toggle="tab"
                                        data-bs-target="#last-deposit" type="button" role="tab"
                                        aria-controls="last-deposit" aria-selected="true">Last Deposit</button>
                                    <button class="btn-custom" id="last-withdraw-tab" data-bs-toggle="tab"
                                        data-bs-target="#last-withdraw" type="button" role="tab"
                                        aria-controls="last-withdraw" aria-selected="false">Last Withdrawal</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="last-deposit" role="tabpanel"
                                    aria-labelledby="last-deposit-tab" tabindex="0">
                                    <div class="transaction-wrapper">
                                        <!-- table -->
                                        <div class="table-parent table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Gateway</th>
                                                        <th scope="col">Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td data-label="Name">
                                                            <span class="currency">
                                                                <img src="assets/admin/images/default.png"
                                                                    alt="Image Missing" />
                                                                Alex Hales
                                                            </span>
                                                        </td>
                                                        <td data-label="Amount">$ 100</td>
                                                        <td data-label="Gateway">Binance</td>
                                                        <td data-label="Date">21 Sep, 2023 09:37 AM</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-label="Name">
                                                            <span class="currency">
                                                                <img src="assets/admin/images/default.png"
                                                                    alt="Image Missing" />
                                                                Alex Hales
                                                            </span>
                                                        </td>
                                                        <td data-label="Amount">$ 5</td>
                                                        <td data-label="Gateway">Binance</td>
                                                        <td data-label="Date">21 Sep, 2023 09:04 AM</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-label="Name">
                                                            <span class="currency">
                                                                <img src="assets/admin/images/default.png"
                                                                    alt="Image Missing" />
                                                                Alex Hales
                                                            </span>
                                                        </td>
                                                        <td data-label="Amount">$ 10</td>
                                                        <td data-label="Gateway">Binance</td>
                                                        <td data-label="Date">21 Sep, 2023 03:59 AM</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-label="Name">
                                                            <span class="currency">
                                                                <img src="assets/admin/images/default.png"
                                                                    alt="Image Missing" />
                                                                Alex Hales
                                                            </span>
                                                        </td>
                                                        <td data-label="Amount">$ 31</td>
                                                        <td data-label="Gateway">Binance</td>
                                                        <td data-label="Date">19 Sep, 2023 04:20 PM</td>
                                                    </tr>
                                                    <tr>
                                                        <td data-label="Name">
                                                            <span class="currency">
                                                                <img src="assets/admin/images/default.png"
                                                                    alt="Image Missing" />
                                                                Alex Hales
                                                            </span>
                                                        </td>
                                                        <td data-label="Amount">$ 10</td>
                                                        <td data-label="Gateway">Binance</td>
                                                        <td data-label="Date">19 Sep, 2023 07:58 AM</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="last-withdraw" role="tabpanel"
                                    aria-labelledby="last-withdraw-tab" tabindex="0">

                                    <div class="transaction-wrapper">
                                        <!-- table -->
                                        <div class="table-parent table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Gateway</th>
                                                        <th scope="col">Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- testimonial section -->
            <section class="testimonial-section">
                <div class="overlay">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-4">
                                <div class="header-text">
                                    <h5>TESTIMONIAL</h5>
                                    <h3>Check Our Client <span class="text-stroke">Feedback</span>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="testimonial-wrapper">
                                    <div class="testimonials client-testimonials owl-carousel">
                                        <div class="review-box">
                                            <div class="text">
                                                <img class="quote" src="assets/themes/screaminlizard/img/icon/quote.png"
                                                    alt="" />
                                                <p>
                                                    We help organizations across the private, public, and social sectors
                                                    create
                                                    Change that Matters Welcome fat who window extent eithe formal.
                                                    Removing
                                                    welcomed civility or hastened is. Justice elderly but perhaps
                                                    expense..
                                                </p>
                                                <div class="user-box">
                                                    <div class="img">
                                                        <img src="assets/uploads/content/62778ce92d4d51652002025.jpg"
                                                            alt="testimonial img" />
                                                    </div>
                                                    <div class="text">
                                                        <h5>Maria Jacket</h5>
                                                        <h6 class="title">Web Developer</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-box">
                                            <div class="text">
                                                <img class="quote" src="assets/themes/screaminlizard/img/icon/quote.png"
                                                    alt="" />
                                                <p>
                                                    We help organizations across the private, public, and social sectors
                                                    create
                                                    Change that Matters Welcome fat who window extent eithe formal.
                                                    Removing
                                                    welcomed civility or hastened is. Justice elderly but perhaps
                                                    expense..
                                                </p>
                                                <div class="user-box">
                                                    <div class="img">
                                                        <img src="assets/uploads/content/62778cfbc88651652002043.png"
                                                            alt="testimonial img" />
                                                    </div>
                                                    <div class="text">
                                                        <h5>Alica Fox</h5>
                                                        <h6 class="title">Team Hunter</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-box">
                                            <div class="text">
                                                <img class="quote" src="assets/themes/screaminlizard/img/icon/quote.png"
                                                    alt="" />
                                                <p>
                                                    We help organizations across the private, public, and social sectors
                                                    create
                                                    Change that Matters Welcome fat who window extent eithe formal.
                                                    Removing
                                                    welcomed civility or hastened is. Justice elderly but perhaps
                                                    expense..
                                                </p>
                                                <div class="user-box">
                                                    <div class="img">
                                                        <img src="assets/uploads/content/62778d06d1a991652002054.jpg"
                                                            alt="testimonial img" />
                                                    </div>
                                                    <div class="text">
                                                        <h5>Donald Trump</h5>
                                                        <h6 class="title">THink Tank</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-box">
                                            <div class="text">
                                                <img class="quote" src="assets/themes/screaminlizard/img/icon/quote.png"
                                                    alt="" />
                                                <p>
                                                    We help organizations across the private, public, and social sectors
                                                    create
                                                    Change that Matters Welcome fat who window extent eithe formal.
                                                    Removing
                                                    welcomed civility or hastened is. Justice elderly but perhaps
                                                    expense..
                                                </p>
                                                <div class="user-box">
                                                    <div class="img">
                                                        <img src="assets/uploads/content/605aeaf009ddb1616571120.png"
                                                            alt="testimonial img" />
                                                    </div>
                                                    <div class="text">
                                                        <h5>Maria Jacket</h5>
                                                        <h6 class="title">Web Developer</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-box">
                                            <div class="text">
                                                <img class="quote" src="assets/themes/screaminlizard/img/icon/quote.png"
                                                    alt="" />
                                                <p>
                                                    We help organizations across the private, public, and social sectors
                                                    create
                                                    Change that Matters Welcome fat who window extent eithe formal.
                                                    Removing
                                                    welcomed civility or hastened is. Justice elderly but perhaps
                                                    expense..
                                                </p>
                                                <div class="user-box">
                                                    <div class="img">
                                                        <img src="assets/uploads/content/605aeb033ff771616571139.png"
                                                            alt="testimonial img" />
                                                    </div>
                                                    <div class="text">
                                                        <h5>Tom Latham</h5>
                                                        <h6 class="title">Web Developer</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- referral section -->
            <section class="referral-section">
                <div class="container">
                    <div class="row ">
                        <div class="header-text text-center">
                            <h5>Bonus</h5>
                            <h2><span class="text-stroke">Referral</span> Bonus Level </h2>
                            <p class="mx-auto">Get On First Level Refferal Commission</p>
                        </div>
                    </div>

                    <div class="row g-4 justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="referral-box">
                                <h3 class="level">Level <span class="text-stroke">1</span></h3>
                                <h3 class="text-primary">60%</h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="referral-box">
                                <h3 class="level">Level <span class="text-stroke">2</span></h3>
                                <h3 class="text-primary">30%</h3>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="referral-box">
                                <h3 class="level">Level <span class="text-stroke">3</span></h3>
                                <h3 class="text-primary">15%</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- faq section -->
            <section class="faq-section">
                <div class="container">
                    <div class="row g-4 g-lg-5">
                        <div class="col-lg-4">
                            <div class="header-text">
                                <h3>ANY <span class="text-stroke">QUESTIONS</span>
                                </h3>
                                <p class="mt-4 mb-5">
                                    We've Got Answers </p>
                                <div class="mail-to">
                                    Help agencies to define their new business objectives and then create professional
                                    software.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 ps-lg-5">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h4 class="accordion-header " id="heading0">

                                        <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">

                                            What About Loan Programs?<span class="index">1</span>
                                        </button>
                                    </h4>
                                    <div id="collapse1" class="accordion-collapse collapse show"
                                        aria-labelledby="heading1" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
                                            adipisci
                                            ullam
                                            quos voluptate officiis ab exercitationem? Molestiae deserunt incidunt,
                                            inventore
                                            cumque explicabo rerum accusantium dolor natus quas eveniet ad molestias!
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h4 class="accordion-header " id="heading1">

                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false"
                                            aria-controls="collapse2">

                                            What passages of Lorem can i contact you?<span class="index">2</span>
                                        </button>
                                    </h4>
                                    <div id="collapse2" class="accordion-collapse collapse " aria-labelledby="heading2"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
                                            adipisci
                                            ullam
                                            quos voluptate officiis ab exercitationem? Molestiae deserunt incidunt,
                                            inventore
                                            cumque explicabo rerum accusantium dolor natus quas eveniet ad molestias!
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h4 class="accordion-header " id="heading2">

                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false"
                                            aria-controls="collapse3">

                                            What passages of lorem can i contact you?<span class="index">3</span>
                                        </button>
                                    </h4>
                                    <div id="collapse3" class="accordion-collapse collapse " aria-labelledby="heading3"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
                                            adipisci
                                            ullam
                                            quos voluptate officiis ab exercitationem? Molestiae deserunt incidunt,
                                            inventore
                                            cumque explicabo rerum accusantium dolor natus quas eveniet ad molestias!
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h4 class="accordion-header " id="heading3">

                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false"
                                            aria-controls="collapse4">

                                            Temporibus adipisci ullam quos voluptate officiis ab<span
                                                class="index">4</span>
                                        </button>
                                    </h4>
                                    <div id="collapse4" class="accordion-collapse collapse " aria-labelledby="heading4"
                                        data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
                                            adipisci
                                            ullam
                                            quos voluptate officiis ab exercitationem? Molestiae deserunt incidunt,
                                            inventore
                                            cumque explicabo rerum accusantium dolor natus quas eveniet ad molestias!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog section -->
            <section class="blog-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="header-text text-center">
                                <h5>LATEST POSTS</h5>
                                <h2>Read Our <span class="text-stroke">Blogs</span>
                                </h2>
                                <p class="mx-auto">
                                    HELP AGENCIES TO DEFINE THEIR NEW BUSINESS OBJECTIVES AND THEN CREATE PROFESSIONAL
                                    SOFTWARE.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center g-4 g-lg-5">
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-box">
                                <div class="img-box">
                                    <img src="assets/uploads/content/thumb_62c41816f34b81657018390.jpg"
                                        class="img-fluid" alt="" />
                                </div>
                                <div class="text-box">
                                    <div class="date-author">
                                        <span>17 Dec, 2021</span>
                                    </div>
                                    <h4>
                                        <a href="blog-details/crypto-economys-10-most-expensive-assets-per-unit-in-2022/63.html"
                                            class="text-white">Crypto Economy&#039;s 10 Most Expensive Assets Per Unit
                                            In
                                            2022</a>
                                    </h4>
                                    <p>Give lady of they such they sure it. Me contained explained my education. Vulgar
                                        as
                                        hearts by garret.Peived determine de...</p>
                                    <a href="blog-details/crypto-economys-10-most-expensive-assets-per-unit-in-2022/63.html"
                                        class="read-more">read more <i class="fal fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-box">
                                <div class="img-box">
                                    <img src="assets/uploads/content/thumb_62c4182976a5c1657018409.jpg"
                                        class="img-fluid" alt="" />
                                </div>
                                <div class="text-box">
                                    <div class="date-author">
                                        <span>17 Dec, 2021</span>
                                    </div>
                                    <h4>
                                        <a href="blog-details/using-meta-advantage-to-simplify-your-facebook-whatsapp-instagram-viber/62.html"
                                            class="text-white">Using Meta Advantage To Simplify Your Facebook Whatsapp
                                            Inst...</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore dolore magna aliqua...</p>
                                    <a href="blog-details/using-meta-advantage-to-simplify-your-facebook-whatsapp-instagram-viber/62.html"
                                        class="read-more">read more <i class="fal fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-box">
                                <div class="img-box">
                                    <img src="assets/uploads/content/thumb_62c418343716c1657018420.jpg"
                                        class="img-fluid" alt="" />
                                </div>
                                <div class="text-box">
                                    <div class="date-author">
                                        <span>17 Dec, 2021</span>
                                    </div>
                                    <h4>
                                        <a href="blog-details/mybtc-ca-welcomes-eth-heres-what-you-need-to-know/61.html"
                                            class="text-white">MyBTC Ca Welcomes ETH Here&#039;s What You Need To
                                            Know</a>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor
                                        incididunt
                                        ut labore is dolore magna aliqua...</p>
                                    <a href="blog-details/mybtc-ca-welcomes-eth-heres-what-you-need-to-know/61.html"
                                        class="read-more">read more <i class="fal fa-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- payment gateway -->
            <section class="payment-gateway">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="gateways partners owl-carousel">
                                <div class="box">
                                    <img src="assets/uploads/gateway/5fe439f477bb7.jpg" alt="Blockchain" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/61d16f5313ee41641115475.jpg" alt="Bank Transfer" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5fe038332ad52.jpg" alt="Block.io" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/cashmaal.jpg" alt="cashmaal" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/63b6c79b0e05a1672923035.jpg" alt="Konnect" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/63b6c5f19bbd21672922609.jpg" alt="Free kassa" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/64a9057f0bec51688798591.png" alt="Binance" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f637de6d9fef.jpg" alt="Authorize.Net" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/63b6a0f262c9f1672913138.jpg" alt="Nowpayments" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/63b6c23aac9181672921658.png" alt="MAGUA PAY" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/63b6ab4d45abb1672915789.webp"
                                        alt="Khalti Payment" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/63b6c9e2b69431672923618.png" alt="Mypay Np" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/63b69d81f06f21672912257.png" alt="peachpayments" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/63b6b02748f191672917031.png" alt="Midtrans" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f637d6a0b22d.jpg" alt="Flutterwave" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f637da3c44d2.jpg" alt="instamojo" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f637b5622d23.jpg" alt="Paypal" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f659e5355859.jpg" alt="Coingate" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5ffd7d962985e1610448278.jpg" alt="CoinPayments" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f6703145a5ca.jpg" alt="Coinbase Commerce" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f645d1bc1f24.jpg" alt="Mercado Pago" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f637db537958.jpg" alt="Mollie" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5fbca5d05057f.jpg" alt="Monnify" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f64d52d09e13.jpg" alt="Payeer" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f637d069177e.jpg" alt="PayStack" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f637cbfb4d4c.jpg" alt="PayTM" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f6390dbaa6ff.jpg" alt="PayUmoney" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f64d522d8bea.jpg" alt="Perfect Money" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f637d80b68e0.jpg" alt="RazorPay" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f637e002d11b.jpg" alt="SecurionPay" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f637d53da3e7.jpg" alt="VoguePay" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f645d432b9c0.jpg" alt="Stripe " />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f637c7fcb9ef.jpg" alt="Skrill" />
                                </div>
                                <div class="box">
                                    <img src="assets/uploads/gateway/5f637e7eae68b.jpg" alt="2checkout" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- footer section -->

            <%- include('partials/footer') -%>

                <script src="assets/themes/screaminlizard/js/bootstrap.bundle.min.js"></script>
                <script src="assets/themes/screaminlizard/js/jquery-3.6.0.min.js"></script>
                <script src="assets/themes/screaminlizard/js/owl.carousel.min.js"></script>
                <script src="assets/themes/screaminlizard/js/select2.min.js"></script>
                <script src="assets/themes/screaminlizard/js/apexcharts.min.js"></script>



                <script src="assets/global/js/notiflix-aio-2.7.0.min.js"></script>
                <script src="assets/global/js/pusher.min.js"></script>
                <script src="assets/global/js/vue.min.js"></script>
                <script src="assets/global/js/axios.min.js"></script>
                <!-- custom script -->
                <script src="assets/themes/screaminlizard/js/data.js"></script>
                <script src="assets/themes/screaminlizard/js/script.js"></script>

                <script>
                    "use strict";
                    (function ($) {
                        $(document).on('click', '.investNow', function () {
                            var planModal = new bootstrap.Modal(document.getElementById('investNowModal'))
                            planModal.show()
                            let data = $(this).data('resource');
                            let price = $(this).data('price');
                            let symbol = "$";
                            let currency = "USD";
                            $('.price-range').text(`Invest: ${price}`);

                            if (data.fixed_amount == '0') {
                                $('.invest-amount').val('');
                                $('#amount').attr('readonly', false);
                            } else {
                                $('.invest-amount').val(data.fixed_amount);
                                $('#amount').attr('readonly', true);
                            }

                            $('.profit-details').html(`Interest: ${(data.profit_type == '1') ? `${data.profit} %` : `${data.profit} ${currency}`}`);
                            $('.profit-validity').html(`Per ${data.schedule} hours ,  ${(data.is_lifetime == '0') ? `${data.repeatable} times` : `Lifetime`}`);
                            $('.plan-name').text(data.name);
                            $('.plan-id').val(data.id);
                            $('.show-currency').text("USD");
                        });

                    })(jQuery);
                </script>
    </body>

</html>