<!DOCTYPE html>

<html class="no-js" lang="en"  >

<!-- head tag starts here  -->

<%- include('../partials/head') -%>

    <!-- head tag ends here -->

<body>

<!-- navbar -->

<%- include('../partials/header') %>

<!-- PAGE-BANNER -->
<style>
    .banner-section {
        background: url(https://script.bugfinder.net/hyippro/screaminlizard/assets/uploads/logo/banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

    <!-- banner section -->
    <section class="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-stroke">404 </h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">home</a></li>
                            <!-- <li class="breadcrumb-item active" aria-current="page">404 </li> -->
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- banner section -->

    <section class="error-page wow fadeInUp mb-5 pb-5">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-12 text-center my-5">
                    <span class="golden-text opps d-block">Opps!</span>
                    <div class="sub_title golden-text mb-4 lead">The page you are looking for was not found.</div>
                    <a class="gold-btn" href="/" >Back To Home</a>
                </div>
            </div>
        </div>
    </section>

<!-- footer section -->

<%- include('../partials/footer') -%>


<script src="https://script.bugfinder.net/hyippro/screaminlizard/assets/themes/screaminlizard/js/bootstrap.bundle.min.js"></script>
<script src="https://script.bugfinder.net/hyippro/screaminlizard/assets/themes/screaminlizard/js/jquery-3.6.0.min.js"></script>
<script src="https://script.bugfinder.net/hyippro/screaminlizard/assets/themes/screaminlizard/js/owl.carousel.min.js"></script>
<script src="https://script.bugfinder.net/hyippro/screaminlizard/assets/themes/screaminlizard/js/select2.min.js"></script>
<script src="https://script.bugfinder.net/hyippro/screaminlizard/assets/themes/screaminlizard/js/apexcharts.min.js"></script>



<script src="https://script.bugfinder.net/hyippro/screaminlizard/assets/global/js/notiflix-aio-2.7.0.min.js"></script>
<script src="https://script.bugfinder.net/hyippro/screaminlizard/assets/global/js/pusher.min.js"></script>
<script src="https://script.bugfinder.net/hyippro/screaminlizard/assets/global/js/vue.min.js"></script>
<script src="https://script.bugfinder.net/hyippro/screaminlizard/assets/global/js/axios.min.js"></script>
<!-- custom script -->
<script src="https://script.bugfinder.net/hyippro/screaminlizard/assets/themes/screaminlizard/js/data.js"></script>
<script src="https://script.bugfinder.net/hyippro/screaminlizard/assets/themes/screaminlizard/js/script.js"></script>









</body>

</html>
