<!DOCTYPE html>

<html class="no-js" lang="en"  >


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- head tag starts here  -->

<%- include('../partials/head') -%>

    <!-- head tag ends here -->

<body>

<!-- navbar -->

<%- include('../partials/header') %>

<!-- PAGE-BANNER -->
<style>
    .banner-section {
        background: url(assets/uploads/logo/banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

    <!-- banner section -->
    <section class="banner-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-stroke">FAQ </h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">home</a></li>
                            <!-- <li class="breadcrumb-item active" aria-current="page">FAQ </li> -->
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- banner section -->

    <!-- faq section -->
        <section class="faq-section">
            <div class="container">
                <div class="row g-4 g-lg-5">
                    <div class="col-lg-4">
                        <div class="header-text">
                            <h3>ANY <span
                                    class="text-stroke">QUESTIONS</span>
                            </h3>
                            <p class="mt-4 mb-5">
                                We've Got Answers                            </p>
                            <div class="mail-to">
                                Help agencies to define their new business objectives and then create professional software.                            </div>
                        </div>
                    </div>
                                            <div class="col-lg-8 ps-lg-5">
                            <div class="accordion" id="accordionExample">
                                                                    <div class="accordion-item">
                                        <h4 class="accordion-header " id="heading0">

                                            <button
                                                class="accordion-button "
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapse1"
                                                aria-expanded="true"
                                                aria-controls="collapse1"
                                            >

                                                What About Loan Programs?<span class="index">1</span>
                                            </button>
                                        </h4>
                                        <div
                                            id="collapse1"
                                            class="accordion-collapse collapse show"
                                            aria-labelledby="heading1"
                                            data-bs-parent="#accordionExample"
                                        >
                                            <div class="accordion-body">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus adipisci ullam quos voluptate officiis ab exercitationem? Molestiae deserunt incidunt, inventore cumque explicabo rerum accusantium dolor natus quas eveniet ad molestias!                                            </div>
                                        </div>
                                    </div>
                                                                    <div class="accordion-item">
                                        <h4 class="accordion-header " id="heading1">

                                            <button
                                                class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapse2"
                                                aria-expanded="false"
                                                aria-controls="collapse2"
                                            >

                                                What passages of Lorem can i contact you?<span class="index">2</span>
                                            </button>
                                        </h4>
                                        <div
                                            id="collapse2"
                                            class="accordion-collapse collapse "
                                            aria-labelledby="heading2"
                                            data-bs-parent="#accordionExample"
                                        >
                                            <div class="accordion-body">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus adipisci ullam quos voluptate officiis ab exercitationem? Molestiae deserunt incidunt, inventore cumque explicabo rerum accusantium dolor natus quas eveniet ad molestias!                                            </div>
                                        </div>
                                    </div>
                                                                    <div class="accordion-item">
                                        <h4 class="accordion-header " id="heading2">

                                            <button
                                                class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapse3"
                                                aria-expanded="false"
                                                aria-controls="collapse3"
                                            >

                                                What passages of lorem can i contact you?<span class="index">3</span>
                                            </button>
                                        </h4>
                                        <div
                                            id="collapse3"
                                            class="accordion-collapse collapse "
                                            aria-labelledby="heading3"
                                            data-bs-parent="#accordionExample"
                                        >
                                            <div class="accordion-body">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus adipisci ullam quos voluptate officiis ab exercitationem? Molestiae deserunt incidunt, inventore cumque explicabo rerum accusantium dolor natus quas eveniet ad molestias!                                            </div>
                                        </div>
                                    </div>
                                                                    <div class="accordion-item">
                                        <h4 class="accordion-header " id="heading3">

                                            <button
                                                class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapse4"
                                                aria-expanded="false"
                                                aria-controls="collapse4"
                                            >

                                                Temporibus adipisci ullam quos voluptate officiis ab<span class="index">4</span>
                                            </button>
                                        </h4>
                                        <div
                                            id="collapse4"
                                            class="accordion-collapse collapse "
                                            aria-labelledby="heading4"
                                            data-bs-parent="#accordionExample"
                                        >
                                            <div class="accordion-body">
                                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus adipisci ullam quos voluptate officiis ab exercitationem? Molestiae deserunt incidunt, inventore cumque explicabo rerum accusantium dolor natus quas eveniet ad molestias!                                            </div>
                                        </div>
                                    </div>
                                                            </div>
                        </div>
                                    </div>
            </div>
        </section>
    
<!-- footer section -->

<%- include('../partials/footer') -%>



<script src="assets/themes/screaminlizard/js/bootstrap.bundle.min.js"></script>
<script src="assets/themes/screaminlizard/js/jquery-3.6.0.min.js"></script>
<script src="assets/themes/screaminlizard/js/owl.carousel.min.js"></script>
<script src="assets/themes/screaminlizard/js/select2.min.js"></script>
<script src="assets/themes/screaminlizard/js/apexcharts.min.js"></script>



<script src="assets/global/js/notiflix-aio-2.7.0.min.js"></script>
<script src="assets/global/js/pusher.min.js"></script>
<script src="assets/global/js/vue.min.js"></script>
<script src="assets/global/js/axios.min.js"></script>
<!-- custom script -->
<script src="assets/themes/screaminlizard/js/data.js"></script>
<script src="assets/themes/screaminlizard/js/script.js"></script>

</body>

</html>
