<!DOCTYPE html>

<html class="no-js" lang="en">


<!-- head tag starts here  -->

<%- include('../partials/head') -%>

    <!-- head tag ends here -->

    <body>

        <!-- navbar -->

        <%- include('../partials/header') %>

            <!-- PAGE-BANNER -->
            <style>
                .banner-section {
                    background: url(assets/uploads/logo/banner.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            </style>

            <!-- banner section -->
            <section class="banner-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="text-stroke">Login </h3>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">home</a></li>
                                    <!-- <li class="breadcrumb-item active" aria-current="page">Login </li> -->
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <!-- banner section -->

            <!-- login section -->
            <section class="login-section">
                <div class="container">
                    <div class="row justify-content-center align-items-end">
                        <div class="col-lg-5 col-md-8">
                            <div class="form-wrapper">
                                <div class="form-box">
                                    <form action="" method="post">
                                        <input type="hidden" name="_token"
                                            value="w48v1X9cYAjk6tWWC4Xa1miQgBSFObPmZQX7vkNE">
                                        <div class="row g-4">
                                            <div class="col-12">
                                                <h4>Login To Your Account</h4>
                                            </div>
                                            <div class="input-box col-12">
                                                <input type="text" name="username" value="demouser" class="form-control"
                                                    placeholder="Email Or Username" autocomplete="off" />
                                            </div>
                                            <div class="input-box col-12">
                                                <input type="password" name="password" value="demouser"
                                                    class="form-control" placeholder="Password" autocomplete="off" />
                                            </div>


                                            <div class="col-12">
                                                <div class="links">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="remember"
                                                            id="flexCheckDefault" />
                                                        <label class="form-check-label" for="flexCheckDefault"> Remember
                                                            me </label>
                                                    </div>
                                                    <a href="/reset">Forgot password?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn-custom w-100">sign in</button>
                                        <div class="bottom">
                                            Don't have an account? <a href="/register">Create account</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- footer section -->
            <%- include('../partials/footer') -%>
                <script src="assets/themes/screaminlizard/js/bootstrap.bundle.min.js"></script>
                <script src="assets/themes/screaminlizard/js/jquery-3.6.0.min.js"></script>
                <script src="assets/themes/screaminlizard/js/owl.carousel.min.js"></script>
                <script src="assets/themes/screaminlizard/js/select2.min.js"></script>
                <script src="assets/themes/screaminlizard/js/apexcharts.min.js"></script>
                <script src="assets/global/js/notiflix-aio-2.7.0.min.js"></script>
                <script src="assets/global/js/pusher.min.js"></script>
                <script src="assets/global/js/vue.min.js"></script>
                <script src="assets/global/js/axios.min.js"></script>
                <!-- custom script -->
                <script src="assets/themes/screaminlizard/js/data.js"></script>
                <script src="assets/themes/screaminlizard/js/script.js"></script>
    </body>

</html>