<!DOCTYPE html>
<html class="no-js" lang="en"  >

<!-- head tag starts here  -->

<%- include('./partials/head') -%>

<!-- head tag ends here -->

<body >

<!-- bottom navbar -->

<%- include('./partials/navbar') -%>



<div class="dashboard-wrapper">
    <!-- sidebar -->
    <%- include('./partials/sideBar') -%>


    <!-- content -->
    <div id="content">
        <div class="overlay">
            <!-- navbar -->
            
            <%- include('./partials/navbar-expanded') -%>


            <!------------- others main dashboard body content ------------>
            
    <!-- main -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="header-text-full">
                    <h3 class="ms-2 mb-0 mt-2">Payout Log</h3>
                </div>
            </div>
        </div>
        <div class="main row">
            <div class="col-12">
                <!-- table -->
                <div class="table-parent table-responsive mt-4">
                    <div class="table-search-bar">
                        <div>
                            <form action="https://script.bugfinder.net/hyippro/screaminlizard/user/payout-history-search" method="get">
                                <div class="row g-3 align-items-end">
                                    <div class="input-box col-lg-3 col-md-3 col-xl-3 col-12">
                                        <input type="text" name="name" value="" class="form-control" placeholder="Type Here" />
                                    </div>

                                    <div class="input-box col-lg-3 col-md-3 col-xl-3 col-12">
                                        <select class="js-example-basic-single form-control" name="status" id="salutation" aria-label="Default select example">
                                            <option value="">All Payment</option>
                                            <option value="1"
                                                    >Pending Payment</option>
                                            <option value="2"
                                                    >Complete Payment</option>
                                            <option value="3"
                                                    >Rejected Payment</option>
                                        </select>
                                    </div>

                                    <div class="input-box col-lg-3 col-md-3 col-xl-3 col-12">
                                        <input type="text" class="form-control datepicker" name="date_time"
                                               placeholder="Select a date" value="" autocomplete="off" readonly/>
                                    </div>

                                    <div class="input-box col-lg-3 col-md-3 col-xl-3 col-12">
                                        <button class="btn-custom w-100" type="submit"><i class="fa fa-search"></i> Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <table class="table table-striped mb-5">
                        <thead>
                        <tr>
                            <th scope="col">Transaction ID</th>
                            <th scope="col">Gateway</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Charge</th>
                            <th scope="col">Status</th>
                            <th scope="col">Time</th>
                            <th scope="col">Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                                                    <tr>
                                <td data-label="Transaction ID">W5SM1KFCDDBC</td>
                                <td data-label="Gateway">Binance</td>
                                <td data-label="Amount">
                                    10 USD                                </td>
                                <td data-label="Charge"> 3.2 USD </td>
                                <td data-label="Status">
                                                                            <span class="badge bg-warning">Pending</span>
                                                                    </td>
                                <td data-label="Time">19 Sep 2023 07:28 PM</td>
                                <td data-label="Action">
                                    <div>
                                        <button
                                            class="btn-action-icon bg-info infoButton"
                                            type="button"
                                            data-information="{&quot;network&quot;:{&quot;fieldValue&quot;:&quot;BNB&quot;,&quot;type&quot;:&quot;text&quot;},&quot;address&quot;:{&quot;fieldValue&quot;:&quot;dkjgfhsdgufyusdvhxcvxc&quot;,&quot;type&quot;:&quot;text&quot;},&quot;amount&quot;:{&quot;fieldValue&quot;:0.032866584364651,&quot;type&quot;:&quot;text&quot;}}"
                                            data-feedback=""
                                            data-trx_id="W5SM1KFCDDBC"
                                            data-bs-toggle="modal"
                                            data-bs-target="#infoModal">
                                            <i class="fa fa-info-circle"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>

                                   

                                                </tbody>
                    </table>
                    <nav id="pagination">
            <ul class="pagination justify-content-center mb-0 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.35s">
            
                            <li class="disabled page-item">
                    <a href="#" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            
            
                            
                
                
                                                                                        <li class="page-item active">
                                <a href="#" class="page-link">1<span class="sr-only">(current)</span></a>
                            </li>
                                                                                                <li class="page-item">
                                <a href="payout-history?page=2" class="page-link">2</a>
                            </li>
                                                                                                <li class="page-item">
                                <a href="payout-history?page=3" class="page-link">3</a>
                            </li>
                                                                                                <li class="page-item">
                                <a href="payout-history?page=4" class="page-link">4</a>
                            </li>
                                                                                                <li class="page-item">
                                <a href="payout-history?page=5" class="page-link">5</a>
                            </li>
                                                                        
            
                            <li class="page-item">
                    <a href="payout-history?page=2" class="page-link" rel="next">&raquo;</a>
                </li>
                    </ul>
    </nav>

                </div>
            </div>
        </div>
    </div>



<!-- Modal -->
<div
    class="modal fade"
    id="infoModal"
    tabindex="-1"
    data-bs-backdrop="static"
    aria-labelledby="infoModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title golden-text" id="infoModalLabel">
                Details            </h3>
            <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close">
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary bg-transparent lebelFont text-white">Transactions : <span class="trx"></span>
                </li>
                <li class="list-group-item list-group-item-primary bg-transparent lebelFont text-white">Admin Feedback : <span
                        class="feedback"></span></li>
            </ul>
            <div class="payout-detail text-white">

            </div>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn-custom w-100"
                data-bs-dismiss="modal">
                Close            
            </button>
        </div>
        </div>
    </div>
</div>


        </div>
    </div>
</div>

<script src="../assets/themes/screaminlizard/js/bootstrap.bundle.min.js"></script>
<script src="../assets/themes/screaminlizard/js/jquery-3.6.0.min.js"></script>
<script src="../assets/themes/screaminlizard/js/owl.carousel.min.js"></script>
<script src="../assets/themes/screaminlizard/js/select2.min.js"></script>
<script src="../assets/themes/screaminlizard/js/apexcharts.min.js"></script>
<script src="../assets/themes/screaminlizard/js/radialprogressOld.js"></script>
<script src="../assets/global/js/notiflix-aio-2.7.0.min.js"></script>
<script src="../assets/global/js/pusher.min.js"></script>
<script src="../assets/global/js/vue.min.js"></script>
<script src="../assets/global/js/axios.min.js"></script>
<script src="../assets/themes/screaminlizard/js/data.js"></script>
<script src="../assets/themes/screaminlizard/js/script.js"></script>
<script src="https://script.bugfinder.net/hyippro/screaminlizard/assets/themes/screaminlizard/js/bootstrap-datepicker.js"></script>

    <script>
        "use strict";
        $(document).ready(function () {
            $(".datepicker").datepicker({
                autoclose: true,
                clearBtn: true,
                format: 'yyyy-mm-dd'
            });

            $('.infoButton').on('click', function () {
                var infoModal = $('#infoModal');
                infoModal.find('.trx').text($(this).data('trx_id'));
                infoModal.find('.feedback').text($(this).data('feedback'));
                var list = [];
                var information = Object.entries($(this).data('information'));

                var ImgPath = "https://script.bugfinder.net/hyippro/screaminlizard/assets/uploads/withdrawLog/";
                var result = ``;
                for (var i = 0; i < information.length; i++) {
                    if (information[i][1].type == 'file') {
                        result += `<li class="list-group-item bg-transparent customborder lebelFont text-white">
                                            <span class="font-weight-bold "> ${information[i][0].replaceAll('_', " ")} </span> : <img src="${ImgPath}/${information[i][1].field_name??information[i][1].fieldValue}" alt="..." class="w-100">
                                        </li>`;
                    } else {
                        result += `<li class="list-group-item bg-transparent customborder lebelFont text-white">
                                            <span class="font-weight-bold "> ${information[i][0].replaceAll('_', " ")} </span> : <span class="font-weight-bold ml-3">${information[i][1].field_name??information[i][1].fieldValue}</span>
                                        </li>`;
                    }
                }

                if (result) {
                    infoModal.find('.payout-detail').html(`<br><h4 class="my-3 golden-text">Payment Information</h4>  ${result}`);
                } else {
                    infoModal.find('.payout-detail').html(`${result}`);
                }
                infoModal.modal('show');
            });


            $('.closeModal').on('click', function (e) {
                $("#infoModal").modal("hide");
            });
        });

    </script>

</body>
</html>
